@import "../../../n2-features/common/styles/sass/variables.scss";
@import "../../../n2-features/common/styles/sass/mixins.scss";

.main {
    height: 92vh;
    background-color: $bgColor;

    .container {
        height: 100%;
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .info {
        font-family: $TitleFontFamily;

        .title {
            font-size: 55px;
            font-weight: 800;
            text-transform: uppercase;
            margin-bottom: 14px;
            line-height: 1.4;
            color: $headingColor;

            & span {
                color: $primaryColor;
            }
        }
    }
}




